:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Primary Colors */
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --primary-white: hsl(0, 0%, 100%);

  /* Secondary Colors */
  --secondary-red: hsl(0, 87%, 67%);

  /* Neutral Colors */
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-very-dark-violet: hsl(260, 8%, 14%);

  /* Typography */
  --font-body-size: 18px;
  --font-family: "Poppins", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;

  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}
html {
  line-height: 1.15;
}
body {
  font-size: var(--font-body-size);
  font-weight: var(--font-weight-regular);
  overflow: auto;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Header */
header {
  margin: 40px 100px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header .nav__links .logo {
  font-size: 2rem;
  margin-right: 15px;
}
header .nav__links li:not(:first-child) {
  color: var(--neutral-grayish-violet);
  font-size: 1rem;
  transition: 0.3s;
}
header .nav__buttons {
  display: flex;
  gap: 20px;
}
header .nav__links li:hover {
  color: var(--neutral-very-dark-violet);
}
.btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  background: none;
  transition: 0.3s;
}
.btn--secondary {
  background: var(--neutral-very-dark-blue);
  color: var(--primary-white);
}
.btn--primary {
  background: var(--primary-cyan);
  color: var(--primary-white);
}
.btn--primary:hover {
  background: var(--primary-white);
  color: var(--primary-cyan);
  border-color: var(--primary-cyan);
}
.btn--secondary:hover {
  background: var(--primary-white);
  color: var(--neutral-very-dark-blue);
  border-color: var(--neutral-very-dark-blue);
}

/* Main */
.get-started {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.get-started__title {
  font-size: 3rem;
  width: 60%;
}
.get-started__subtitle {
  color: var(--neutral-grayish-violet);
  margin-top: 10px;
  width: 90%;
  line-height: 30px;
  padding-bottom: 30px;
}

/* Input */
.input {
  position: relative;
  width: 75%;
  height: 80px;
  background: var(--primary-dark-violet);
  margin: 80px 100px;
  border-radius: 5px;
  padding: 60px 50px;
  display: flex;
  align-items: center;
}

.input::after {
  content: var(--after-content, "");
  position: absolute;
  top: 90px;
  left: 50px;
  color: var(--secondary-red);
  font-size: 1rem;
}

.input__field {
  width: 80%;
  border-radius: 5px;
  padding: 8px 20px;
  border: 3px solid transparent;
  outline: none;
}
.input__field::placeholder {
  font-size: 0.95rem;
}
.input__field:focus {
  border-color: var(--secondary-red);
}
.input a {
  margin: 0 15px;
  padding-inline: 30px;
  border-radius: 5px;
}

/* Advanced Statistics */
.advanced-statistics {
  position: relative;
  --neutral-gray: hsl(230, 25%, 95%);
  background: var(--neutral-gray);
  margin-top: -130px;
  padding-top: 180px;
  padding-bottom: 100px;
  z-index: -1;
}
.advanced-statistics__description {
  text-align: center;
}
.advanced-statistics__description h2 {
  padding-bottom: 10px;
}
.advanced-statistics__description p {
  line-height: 30px;
  color: var(--neutral-grayish-violet);
}
.advanced-statistics__cards {
  margin-top: 80px;
  margin-inline: 140px;
  display: flex;
  gap: 30px;
}
.advanced-statistics__cards .card {
  --primary-cyan: hsl(189, 100%, 89%);
  position: relative;
  padding: 70px 30px 20px;
  height: fit-content;
  border-radius: 8px;
  background: var(--primary-white);
  box-shadow: 0px 0px 10px var(--primary-cyan);
}
.advanced-statistics__cards .card .img-container {
  position: absolute;
  top: -25px;
  padding: 15px;
  border-radius: 100%;
  background: var(--primary-dark-violet);
}
.advanced-statistics__cards .card img {
  vertical-align: middle;
  width: 30px;
}
.advanced-statistics__cards .card h4 {
  padding-bottom: 20px;
}
.advanced-statistics__cards .card p {
  color: var(--neutral-grayish-violet);
  line-height: 25px;
}
.advanced-statistics__cards .card:nth-child(2) {
  margin-top: 40px;
}
.advanced-statistics__cards .card:last-child {
  margin-top: 80px;
}
.advanced-statistics__cards .card:first-child::after {
  --primary-cyan: hsl(180, 66%, 49%);
  content: "";
  position: absolute;
  width: 250%;
  height: 8px;
  top: 50%;
  translate: 0 -50%;
  background: var(--primary-cyan);
  z-index: -1;
}

/* Boost Links */
.boost-links {
  padding: 50px 0 30px;
  text-align: center;
  background: url(/assets/images/bg-boost-desktop.svg) 20%
    var(--primary-dark-violet);
  line-height: 60px;
}
.boost-links h2 {
  margin-top: -10px;
  color: var(--primary-white);
}
.boost-links a {
  padding-inline: 35px;
}

/* Footer */
.footer__links {
  background: var(--neutral-very-dark-violet);
  color: var(--primary-white);
  padding: 60px;
  padding: 40px 0 50px;
  font-size: 1rem;
}
.footer__links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer__links ul ul:not(.social-media-links) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__links ul.social-media-links {
  display: flex;
  gap: 20px;
  margin-top: -60px;
}
.footer__links ul.social-media-links li svg {
  fill: var(--primary-white);
  transition: 0.3s;
}
.footer__links ul.social-media-links li:hover svg {
  fill: var(--primary-cyan);
  translate: 0 -5px;
}
.footer__links ul ul.company {
  margin-top: 30px;
}
.footer__links > ul > li:first-child svg {
  fill: var(--primary-cyan);
  translate: 0 -45px;
  transition: 0.3s;
}
.footer__links ul ul li:not(:first-child) {
  color: var(--neutral-grayish-violet);
  transition: 0.3s;
}
.footer__links ul ul li:not(:first-child):hover {
  color: var(--primary-cyan);
}
